.option {
  color: white;
  background-color: red;
  text-align: center;
  font-size: 25px;
}
h1 {
  color: wheat;
  text-align: center;
  font-family: georgia;
  background-color: black;
  padding: 10px;
}
h6 {
  font-size: 10px;
  font-family: geofgia;
  color: brown;
  text-align: center;
}
.container {
  text-align: center;
  flex: 6;
}
img {
  max-width: 90%;
  max-height: 90%;
  padding-top: 10px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-container {
  flex: 3;
}
.right-container {
  flex: 3;
  text-align: center;
}
.direction-buttons {
  background-color: #4caf50;
  color: white;
}
#list-data {
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#list-data img {
  max-width: 70%;
  max-height: 70%;
  padding-top: 10px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  box-sizing: border-box;
}
