.option {
  color: white;
  background-color: red;
  text-align: center;
  font-size: 0.5em;
  width: 17%;
}
h1 {
  color: wheat;
  font-size: 30px;
  text-align: center;
  font-family: georgia;
  width: 60%;
  position: relative;
  top: -10px;
}
#search {
  height: 20px;
  position: relative;
  top: 20px;
  right: -5px;
}
.heading {
  position: relative;
  /* float: left; */
  min-height: 10px;
  margin: 2px;
  padding: 5px;
  min-width: 40px;
  display: flex;
  background-color: blueviolet;
  height: 60px;
}
.heading img {
  max-width: 8%;
  position: relative;
  top: 0px;
  left: 10px;
}
h6 {
  font-size: 10px;
  font-family: geofgia;
  color: brown;
  text-align: center;
}
.container {
  text-align: center;
  flex: 6;
  outline: 2px dotted rgb(150, 150, 236);
}

.container img {
  max-width: 20%;
  max-height: 20%;
}
img {
  max-width: 90%;
  max-height: 90%;
  padding-top: 10px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-container {
  flex: 3;
}
.right-container {
  flex: 3;
  text-align: center;
}
#next {
  position: absolute;
  top: 90%;
  left: 72%;
  background-color: blue;
  color: white;
  width: 10px;
  height: 20px;
}
#previous {
  position: absolute;
  top: 90%;
  right: 72%;
  background-color: blue;
  color: white;
  width: 10px;
  height: 20px;
}
#list-data {
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#list-data img {
  max-width: 70%;
  max-height: 70%;
  padding-top: 10px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  box-sizing: border-box;
}
/* when you drag the screen */
@media only screen and (min-width: 600px) {
  body {
    background-color: burlywood;
    font-size: 10px;
  }
  .option {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 10px;
  }
}

body {
  font-size: 10px;
}

/* width of iphone6/7/8plus(414x736) */
@media only screen and (max-width: 414px) {
  .left-container {
    display: none;
  }
  .right-container {
    display: none;
  }
  body {
    background-color: aqua;
    font-size: 10px;
  }
  #list-data {
    font-size: 20px;
  }

  h1 {
    color: wheat;
    font-size: 25px;
    text-align: center;
    font-family: georgia;
    width: 70%;
    position: relative;
    top: 5px;
  }
  #search {
    height: 20px;
    position: relative;
    top: 20px;
    right: -8px;
  }
  .heading img {
    max-width: 8%;
    /* position: relative; */
    top: 0px;
    left: -3px;
  }
}
